* {
	margin: 0%;
	padding: 0%;
}

body {

    background-image: url(https://img.freepik.com/premium-vector/dark-blue-vector-layout-with-restaurant-food_6869-2086.jpg);
    background-position: center center;

    background-color: darkblue;
    color: white;

    text-align: center;
}

#navbar {
    background-color: lightskyblue;
}

#link {
    color: white;
}



#menu {
    background-color: rgb(36, 155, 173);
    padding: 30px;
	margin: 0 auto;
    margin-top: 30px;
    border-radius: 15px;
}

#order-now {
    padding: 10px;
    margin: 0 auto;
    margin-top: 30px;
}

#order-body {
    background-color: rgb(5, 137, 213);
    padding: 30px;
	margin: 0 auto;
    margin-top: 15px;
    border-radius: 15px;
}

#customer-details, #menu-section {
    text-align: left;
}

#order-button {
    background-color: white;
    color: #ad2e24;
    size: 100px;
}

#card {
    background-color: lightskyblue;
    padding: 20px;
	margin: 20px;
    margin-top: 100px;
    border-radius: 10px;
}

footer {
    position: relative;
}

#contact-footer {
    background-color: lightskyblue;
    padding: 10px;
	margin: 15px auto;
    margin-top: 200px;
    max-width: 92.5%;
    border-radius: 10px;
    bottom: 0;
}

#order-summary {
    background-color: lightskyblue;
    padding: 10px;
	margin: 15px auto;
    margin-top: 50px;
    max-width: 62.5%;
    border-radius: 10px;
    bottom: 0;
}

#order-footer {
    background-color: lightskyblue;
    padding: 10px;
	margin: 15px auto;
    margin-top: 50px;
    max-width: 92.5%;
    border-radius: 10px;
    bottom: 0;
}

#homepage-footer {
    background-color: lightskyblue;
    padding: 10px;
	margin: 15px auto;
    margin-top: 25px;
    max-width: 92.5%;
    border-radius: 10px;
    bottom: 0;
}

thead, tbody {
    background-color: lightskyblue;
    border: 1px solid #000000;
}

tr {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #edf2f4;
}

--- ORDER SECTI0N --- 

.menu-container {
  height: 400px; /* Or any fixed height you want */
  overflow-y: auto; /* Enables vertical scrolling when content exceeds height */
  padding: 15px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px; 
  border: white 3px;
}

#menu-image {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin-right: 15px;
}

.item-details {
  flex-grow: 1;
}

.item-name {
  font-weight: bold;
}

.item-price {
  color: white;
}
